@charset "UTF-8";

body {
  color: #000;
  font-size: 1em;
  line-height: 1.2;
  font-family: "Source Sans Pro";
  font-weight: 300;
}

html {
  font-size: 16px;
  font-family: 'Source Sans Pro';
  line-height: 1.45;
  color: #35332e;
  overflow-y: scroll;
  overflow-x: hidden; }
  @media (min-width: 1200px) {
    html {
      font-size: 17px; } }
  @media (min-width: 1300px) {
    html {
      font-size: 18px; } }
  @media (min-width: 1600px) {
    html {
      font-size: 20px; } }
  @media (min-width: 1800px) {
    html {
      font-size: 22px; } }
.write button, .read button {
  opacity: 0.2;
}
/*button {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  border: none;
  font-size: 12px;
  color: #35332e;
  padding: 0.5rem 0.6rem 0.45rem;
  cursor: pointer;
  opacity: 0.2; }*/
  button:hover, button:active, button.pressed {
    opacity: 1; }

article > :first-child {
  margin-top: 0; }
article > * {
  margin-top: 1rem;
  margin-bottom: 1rem; }
article h1 {
  
  margin-top: 4rem;
  margin-bottom: 2.5rem;
  position: relative;
  text-align: center; }
  article h1::after {
    content: "";
    width: 100px;
    left: 50%;
    margin-left: -50px;
    border-bottom: 1px solid #eeeeee;
    top: 100%;
    position: absolute;
    margin-top: 1rem; }
article h2 {
  font-size: 1.25rem;
  margin-top: 2rem; }
article h3,
article h4,
article h5,
article h6 {
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: -0.5rem; }
article p {
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto; }
article blockquote {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-style: italic; }
article a {
  position: relative;
  color: #49b27d; }
  article a:hover, article a:focus {
    color: #3f996b; }
  article a:active {
    top: 1px; }
article ul,
article ol {
  margin-left: 2em;
  font-size: 0.9em; }
  article ul > li,
  article ol > li {
    margin-top: 0.5em;
    margin-bottom: 0.5em; }
article ul {
  list-style-type: disc; }
article pre,
article code {
  font-family: "inconsolata", mono;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }
article pre {
  font-size: 0.8em; }
article code {
  font-size: 0.95em; }
article hr {
  background: transparent;
  border: none;
  width: 100px;
  margin: 1.5em auto;
  border-bottom: 1px solid #eeeeee; }

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  border: none;
  background: transparent;
  resize: none; }
  textarea:focus {
    outline: none; }

* {
  margin: 0;
  padding: 0; }

body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex; }

html {
  height: 100%;
  width: 100%; }

body {
  min-height: 100%;
  min-width: 100%; }

.write,
.read {
  position: relative;}

.write {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -ms-box-flex: 0;
  -webkit-flex: 0;
  -moz-flex: 0;
  -ms-flex: 0;
  flex: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 33rem; 
  overflow: hidden;
}

.write-form {
  position: relative;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.read {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1; 
  overflow-y: scroll;
}

.write-textarea-wrap,
.document-article {
  padding: 3rem;
  max-width: 32rem;
  /*margin: 0 auto; */
}
.write-buttons button, .read-buttons button {
  padding: 10px;
}
.write-buttons,
.read-buttons {
  position: relative;
  overflow: hidden;
  z-index: 1; }

.read {
  font-family: "kepler-std", serif;
  border-left: 1px solid #f1f1e7;
  box-shadow: 0 -1px 10px #f1f1e7; }

.read-only-button {
  float: left; }

.write {
  background: #fcfcfa; }

.write,
.document-textarea {
  font-family: "inconsolata", mono;
  font-size: 12px;
  line-height: 1.2; }
  @media (min-width: 1200px) {
    .write,
    .document-textarea {
      font-size: 14px; } }

.write-textarea-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.document-textarea {
  position: relative;
  width: 100%;
  height: 100%; }
  .document-textarea::-webkit-scrollbar {
    width: 7px; }
  .document-textarea::-webkit-scrollbar-track {
    margin: 3rem; }
  .document-textarea::-webkit-scrollbar-thumb {
    border-radius: 14px;
    background: #edebe2; }

.document-menu {
  list-style: none;
  position: relative;
  background-color: #f7f6f2;
  border-top: 1px #edebe2 solid;
  border-bottom: 1px #edebe2 solid;
  box-shadow: inset 2px 0 6px #ebe9df;
  display: none;
  max-height: 500px;
  overflow-y: auto; }
  .document-menu::-webkit-scrollbar {
    width: 0; }

.document-menu-item {
  overflow: hidden;
  cursor: pointer; }
  .document-menu-item:hover, .document-menu-item:focus {
    background: rgba(53, 51, 46, 0.01);
    outline: none;
    color: #49b27d; }
  .document-menu-item:active {
    color: #3f996b; }

.document-menu-item-wrap {
  position: relative;
  max-width: 26rem;
  margin: 0 auto;
  overflow: hidden; }

.document-menu-item-title {
  padding: 0.5rem 0 0.45rem;
  position: absolute;
  left: 0;
  right: 2em;
  top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.document-menu-item-delete-button {
  float: right;
  opacity: 0.15; }

.menu-button,
.add-button {
  float: left; }

.write-only-button {
  float: right; }

.add-button {
  padding-left: 0.33333rem; }

.menu-button {
  padding-right: 0.33333rem; }

.write-only .read,
.read-only .write {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -ms-box-flex: 0;
  -webkit-flex: 0;
  -moz-flex: 0;
  -ms-flex: 0;
  flex: 0; }

.write-only .read {
  width: 37rem;
  margin-right: -30rem; }

.read-only .write {
  margin-left: -26rem; }

.write-only .write,
.read-only .read {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.attribution {
  font-family: "kepler-std", serif;
  padding: 1rem;
  text-align: center;
  color: rgba(53, 51, 46, 0.4); }
  .attribution .segmentio-link,
  .attribution .firebase-link {
    vertical-align: middle;
    display: inline-block;
    text-indent: -9999px;
    background-size: cover;
    background-repeat: none;
    background-position: center center;
    margin-left: 0.3em;
    opacity: 0.4; }
    .attribution .segmentio-link:hover,
    .attribution .firebase-link:hover {
      opacity: 1; }
  .attribution .segmentio-link {
    background-image: url("images/segmentio.png");
    width: 110px;
    height: 20px; }
  .attribution .firebase-link {
    background-image: url("images/firebase.png");
    width: 98px;
    height: 19px; }

pre .comment {
  color: #aba79e; }
pre .constant,
pre .storage,
pre .tag,
pre .keyword:not(.operator),
pre .selector,
pre .string:not(.value),
pre .regexp,
pre .function {
  color: #4b8b8d; }


.read {
  background: white;
  min-height: 760px;
  display: inline;
  width: 100%;
  /*position: absolute;*/
}
.write {
  height: 100%;
  min-height: 760px;
  display: inline-block;
  position: relative;
}
#wrapper { width: 100%;height: 100%;}
#editor {
   position: absolute;
  width: 80%;
  height: 100%;
  margin-left: 10%;
}
.hide { display: none !important; }
/* Redefine some custom vals*/
.ace_scrollbar {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}
.ace_editor {
  position: absolute;
  overflow: hidden;
  font-family: 'Inconsolata','Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important;
  font-size: 12px;
}
.ace_content {
  background: #FCFCFA;
}


/*scrollbar*/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar:vertical {
    width: 4px;
}
::-webkit-scrollbar:horizontal {
    height: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
 
::-webkit-scrollbar-thumb:vertical {
  background: #5a5a5a;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #444;
}
